body {
    background-color: #E5E5E5;
}
.container {
    width: 1098px;
    margin: 0 auto;
    padding: 1px;
    background-color: white;
}
header, footer, nav {
    margin: 20px;
    padding: 10px;
}
nav {
    border-top: 10px solid  #EDEDED;
    border-bottom: 10px solid  #EDEDED;
}
.content {
    padding: 20px;
}
header {
    height: 50px;
    text-align: right;
    font-style: italic;
    background-color: #BCBE97;
    position: relative;
}
footer {
    height: 40px;
    text-align: center;
    background-color: #F2F2F2;
}
.contact-form {
    margin: 0 auto;
    width: 680px;
    padding: 10px;
    border: 2px solid #444;
    color: #403E3F;
}
.flower{
    float: right;
    position: absolute;
    margin-left: 0;
}
.flower>img {
    height: 50px;
    margin-left: 50px;
}